.section_2 {
    background-image: url("../images/survival-kit.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 330px;
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 1;
}